# ignore the GROQ_API_KEY
app/.env

# ignore the .DS_Store file, and app/__pycache__ folder
.DS_Store
app/__pycache__/
.idea/
.ipynb_checkpoints/

# ignore demo video
demo/demo.mp4
demo/demo_fast.mp4
